.Input{
    /* border: 2px solid blue; */
    margin-top: 3rem;
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Input input{
   width: 70%;
   height:55% ;
   margin-right:3rem;
   padding: 1rem;
   /* border-radius: 2rem; */
   box-shadow: 2px 2px 5px black;
   outline: none;
   font-size: 1rem;
   font-weight: 600;
}

.Input button{
     width: 25%;
     height:60%;
     box-shadow: 2px 2px 5px black;
     background-color: rgb(4, 4, 14);
     font-size: 1rem;
     font-weight: 600;
     color: aliceblue;

}

button:hover{
    background-color: blue;
    color: yellow;
}